[2017-05-05 04:03] travi opened #1 "router v3 support"
great work with the plugin. i've really found it helpful in projects where i can use router v4.

however, i still maintain several projects that are not able to update to v4 yet. i'd love to be able to use this with those projects.

any chance you'd be open to adding support for router v3?

[2017-05-06 08:58] gvaldambrini commented on #1
Hi, as react-router v3 is still used in many of the most used react-boilerplates I think it makes sense.  I'm currently playing with router v3 to see how complicated can be supporting both versions without forking the package.

[2017-05-13 15:41] gvaldambrini commented on #1
react-router v3 is now supported and the documentation updated. For any suggestion or bug report please open a separate issue.

[2017-05-13 15:41] #1 closed

[2017-05-15 15:54] ndelangen opened #2 "Contact the maintainers of storybook"
Hey! awesome plugin, Can you join us in the storybook slack?
https://storybooks-slackin.herokuapp.com/

That way we can keep you updated on the upcoming 3.0.0 release!

❤️ storybook team

[2017-05-16 03:45] travi commented on #1
thanks a ton for supporting v3! i havent tried out the link-to functionality yet, but even the simple action-logger behavior is a huge help. great work!

[2017-05-17 20:27] gvaldambrini commented on #2
done 😄

[2017-05-17 20:27] #2 closed

[2017-05-17 20:28] gvaldambrini commented on #1
👍  let me know if you find any problems

[2017-06-01 03:29] travi opened #3 "transpilation broken with the latest release"
its not obvious to me what changed with the build, but the latest build appears to no longer transpile to the degree that it used to. it now [leaves es module `import` syntax](https://travis-ci.org/travi/admin.travi.org-components/builds/237701161) in the bundle that is set to `main` in the `package.json`.

it probably does make sense to include a version that uses es modules like this, but it wou

[2017-06-01 06:54] gvaldambrini commented on #3
You're right, for not obvious reason the transpilation was broken (just for the module part). The new version (0.2.5) contains a small fix to the .babelrc config file that should fix the problem (or at least works in the test environment I'm using). Can you please confirm that?

[2017-06-01 11:57] travi commented on #3
looks like that took care of it. thanks so much for the quick resolution!

[2017-06-01 11:57] #3 closed

[2017-06-01 20:44] ndelangen opened #4 "Fixed version of @storybook/react"
https://github.com/gvaldambrini/storybook-router/blob/master/package.json#L28

Hey any reason why you've locked the version of @storybook/react to exactly `3.0.0`?

Any updates on our part and this addon will be duplicating the @storybook/react package.. Which is a bad idea 😯

[2017-06-01 20:59] #4 closed

[2017-06-01 20:59] gvaldambrini commented on #4
Just a leftover, thanks 👍

[2017-06-29 01:42] lsirivong opened #6 "Preserve default storybook hot reloading"
Is it possible to retain the hot reloading set up in storybook while using this decorator?

From my initial tests, it seems like `shouldComponentUpdate` is preventing the stories from hot reloading.

I've created an example repo here:
https://github.com/lsirivong/storybook-router-hot-reload-test

[2017-06-29 05:27] gvaldambrini commented on #6
Thanks for the example, I'll have a look asap.

[2017-07-01 09:06] gvaldambrini commented on #6
Fixed in 0.2.8

[2017-07-01 09:06] #6 closed

[2017-07-10 05:15] jennifersmith opened #7 "Pass additional information about the location to link specific and default actions"
Just found this library today and it's really useful for what I am currently trying to do so thanks for that :)

Anyway, I noticed that the default action handling onHistoryChanged events is to call the storybook action addon with location.pathname:

`
action(historyAction ? historyAction : location.action)(path)
`
(and same for the user specified actions you can pass in as params).

I am playing

[2017-07-11 21:21] gvaldambrini commented on #7
Are you using the standard action logger or a custom function within the links object? I'm not against adding the url querystring (maybe also the hash part?), but I'd like to understand better if you are using a custom function (so, passing directly the location object can be enough) or not.

[2017-07-18 05:05] SandeshBG opened #8 "how to implement browserHistory.push() in storybook-router?"
I have a react-redux application which on successful login redirects to homepage.This is done using react-router's browserHistory.push("/") .Now I am trying to implement this in react storybook using Story router.
This browserHistory.push() is placed inside action creator. How can I do this redirection in Storybook router?Currently on successful Login state changes but page doesn't get redirected

[2017-07-18 07:28] gvaldambrini commented on #8
If you want to use the StoryRouter decorator to link between stories you cannot use anything from browserHistory directly (except creating it in the main app entry point). You should be able to use instead the [withRouter wrapper](https://github.com/ReactTraining/react-router/blob/v3/docs/API.md#withroutercomponent-options) or the router context and use the push() and replace() functions whenever

[2017-07-18 09:29] SandeshBG commented on #8
How  to redirect withRouter or router context ? In my case the browserHistory.push is called inside action creator.

[2017-07-18 09:56] gvaldambrini commented on #8
For use the withRouter wrapper you need to define a custom component which will receive as prop the router context, which has all the methods to push/replace/goBack/goForward the history.
You can find [here](https://github.com/gvaldambrini/storybook-router/blob/master/stories/V3/BackForward.js#L15) an example of a custom component which uses withRouter, and you can find in the dedicated [router co

[2017-07-24 21:42] gvaldambrini commented on #8
Closing this as it seems there is not a bug behind. Please reopen and provide an example if I'm wrong.

[2017-07-24 21:42] #8 closed

[2017-08-11 15:50] gvaldambrini commented on #7
Closing this for inactivity. Please reopen and provide the required details if interested.

[2017-08-11 15:50] #7 closed

[2017-08-22 21:16] travi opened #10 "location did not match any routes"
i expect that this is user error, but i'm struggling to find my problem, so i'm hoping you have something that you can point me to.

i'm using this with react-router v3 and passing my `linkTo` definitions as the first argument to the `storyRouter` decorator as
[code]

however, when i click on the `<Link>` that points to `/companies` i get the following error:
[code]

this then results in the follo

[2017-08-23 04:06] travi commented on #10
i tried configuring similar routes in a public project and am able to reproduce the same problem.

* clone https://github.com/travi/admin.travi.org-components
* checkout the `storybook-router` branch
* npm i
* npm start
* navigate to `Resource List` -> `rides list` or `users list`
* click on any of the list items to see the errors

my routes are configured at https://github.com/travi/admin.travi.o

[2017-08-24 08:31] gvaldambrini commented on #10
thank you for the report, I'll have a look asap.

[2017-08-29 19:39] gvaldambrini commented on #10
After investigating a bit, I am now quite sure that the problem is not related to `StoryRouter`. The problem is that (for an unknown reason) `linkTo` is not working with your repo. This is an updated `errors.js` that is not using at all `StoryRouter` but still does not work:
[code]
Probably there is something in your configuration (maybe another addon?) that makes `linkTo` not working. Hope this h

[2017-08-30 03:58] travi commented on #10
thank you so much for investigating. since you confirmed that `linkTo` itself was not working, i realized that i had forgotten to register it in `.storybook/addons.js`.

such a simple mistake that i'm sorry i distracted you with the problem. thank you again for investigating and thank you for such a useful addon!

[2017-08-30 03:58] #10 closed

[2017-09-08 22:28] JanCVanB opened #11 "Support for vue-router"
Now that Storybook supports Vue, does this project have any interest in supporting vue-router?

Link: https://github.com/vuejs/vue-router

Related: https://github.com/storybooks/storybook/issues/1657

[2017-09-08 23:22] ndelangen commented on #11
Would you be interested in helping achieve support? 🙇

[2017-09-08 23:36] JanCVanB commented on #11
@ndelangen Sure! I'm very busy this month, but I'd love to help soon.

[2017-09-09 14:36] gvaldambrini commented on #11
@JanCVanB give me some days to explore how doable / complicated is. As I'm new to Vue (and so, vue-router), any suggestion would be appreciated.

[2017-09-09 18:22] JanCVanB commented on #11
@gvaldambrini Thanks, let me know what you find+think!

[2017-09-30 08:29] gvaldambrini commented on #11
I created an experimental branch called vue with the support to vue-router. For anyone interested just install the package from the github url:
```npm install git://github.com/gvaldambrini/storybook-router.git#vue```
In tried to maintain the API as similar as possible to the React one, so the decorator accepts two arguments: the links object and a config object (the router props). I'm still in an

[2017-09-30 16:05] ndelangen commented on #11
@gvaldambrini ❤️

[2017-10-07 10:01] gvaldambrini commented on #11
The vue support has been released. Please open a dedicated issue for any problem.

[2017-10-07 10:01] #11 closed

[2017-10-09 04:54] JanCVanB commented on #11
Awesome, @gvaldambrini, thanks! :D I'm excited to try it in my router-heavy project.

[2017-10-11 09:21] kazupon commented on #11
awesome! ❤️

[2017-10-13 00:44] dweldon opened #12 "Event logging for duplicate routes"
This is a pretty minor usability bug, but I notice that clicking any two links that resolve to the same path (or clicking the same link twice) will only log the event once. I haven't looked to see if this is intentional in the code, but it does make testing a little harder in some cases (e.g. one component with N links to the same place).

[2017-10-14 08:38] gvaldambrini commented on #12
Thank you for the report, I imagine you are talking about the vue implementation.
The current limitation is caused by an implementation detail of the wrapped VueRouter, which aborts every action performed on the same route (and so, does not call the global guard I'm using to perform the logging or the links substitution).  For more details on this topic see this [issue](https://github.com/vuejs/vu

[2017-10-14 12:45] gvaldambrini commented on #12
Fixed with version 0.3.1. Closing this, please reopen if you find any issue.

[2017-10-14 12:45] #12 closed

[2017-10-14 19:56] dweldon commented on #12
@gvaldambrini Thanks for the quick fix, and for creating this package!

[2017-10-19 23:39] dweldon opened #13 "$attrs is readonly?"
I'm using Vue, and whenever I click on a link everything behaves normally but I get the following errors in the console:

* `$attrs is readonly`
* `$listeners is readonly`

Any ideas?

[2017-10-21 07:54] gvaldambrini commented on #13
The [example project](https://github.com/gvaldambrini/storybook-router/tree/master/examples/vue-router) seems to not have this issue. Could you check the differences and if the problem persist provides an example project to reproduce it?

[2017-10-24 16:47] dweldon commented on #13
Sorry about that - it must have been something specific to my development environment. Package updates fixed the issue for me.

[2017-10-24 16:47] #13 closed

[2017-10-30 17:13] goodmind opened #15 "Broken width after opening component with router"
If you open component with router and then open another component in Storybook, width of page becomes smaller each time you open component with router decorator

[2017-10-30 22:45] gvaldambrini commented on #15
Hi @goodmind, thanks for the report. Could you please provide more details? Which version are you using? With react or vue? Do you have some snippet or an example project to help me reproducing the problem? Thanks!

[2017-10-30 23:07] goodmind commented on #15
@gvaldambrini it's react, but now I think its not related to this module. I removed it and have same issue. I'll make minimal reproduce though

[2017-10-31 13:39] goodmind commented on #15
i think this `div` in `_innerComponent` breaks my `height: 100%` flexbox layout

[2017-10-31 13:41] goodmind commented on #15
@gvaldambrini https://github.com/gvaldambrini/storybook-router/blob/715d35677ed823155c5c25c90161f24d76981d1a/src/react.js#L18

[2017-11-01 10:24] gvaldambrini commented on #15
I'm not sure why the wrapping div causes the problem you mention, but as it is not really needed I removed it and pushed a bugfix version without it (0.3.2). Please check if this solves your issue and if not provide an example to reproduce the problem.

[2017-11-04 22:16] #15 closed

[2017-11-28 22:56] Ethaan opened #16 "story is not a function [Vue]"
Issue:

### Which version are you using?
`0.3.0`

### Are you using storybook-router with a react based project or a vue one?

Vue

### Please describe the problem:

Imposible to invoke `StoryRouter` as on README

### Please explain how to reproduce the issue or (better) provide an example to do it.

Simple do.

[code]

will return into a `story is not a function`, doing `.addDecorator(StoryRouter

[2017-11-29 03:49] Ethaan commented on #16
NVM, this was because i was importing `StoryRouter` as default

[2017-11-29 03:49] #16 closed

[2018-01-23 23:18] ianwalter opened #21 "Vue component beforeRouteEnter guard doesn't get called"
Issue:

### Which version are you using?

^0.3.2

### Are you using storybook-router with a react based project or a vue one?

Vue

### Please describe the problem:

A components `beforeRouteEnter` guard doesn't seem to be called before the component is created but it should.

### Please explain how to reproduce the issue or (better) provide an example to do it.

Add a `beforeRouteEnter` method wi

[2018-01-24 17:19] gvaldambrini commented on #21
Inspired by [this codepen](https://codepen.io/patrickodacre/pen/owjVNK) I added [an example](https://github.com/gvaldambrini/storybook-router/blob/master/examples/vue-router/Navigation.js#L173) that uses `beforeRouteEnter` and everything seems to work so I'm not able to reproduce the issue. Can you please provide more details?

[2018-01-24 18:26] ianwalter commented on #21
@gvaldambrini Thanks for checking this out so quickly.

Yes, your example works. It looks like the issue I'm running into is that the `beforeRouteEnter` does not get fired as expected on the default route initially. So if you change the `/bar` route in your example to be the default route `/` then `beforeRouteEnter` doesn't get called (when you click on the story in the Storybook sidebar). If you

[2018-01-24 18:37] ianwalter commented on #21
Yes, works as expected. Must have been a caching/HMR issue. Thanks for the help and sorry for the noise.

[2018-01-24 18:37] #21 closed

[2018-02-15 03:23] ecbrodie opened #22 "Non-Vue projects shouldn't need to pull in Vue as a required dependency"
### Which version are you using?

0.3.2

### Are you using storybook-router with a react based project or a vue one?

React

### Please describe the problem:

I am working on a project that just uses React. As such, I have no use for having Vue as a dependency.

Unfortunately, my Yarn package manager will pull in `vue` as a dependency regardless, since it is a dependency in `storybook-router`'s `p

[2018-02-15 07:26] gvaldambrini commented on #22
Hi @ecbrodie, there is already a work in progress task which will split the npm package so that the react version doesn't have vue as dependency and viceversa. Unfortunately the solution of using the `peerDependencies` doesn't work very well (for more details on this, please read #19).

[2018-02-15 12:53] ecbrodie commented on #22
I'm happy to see that there is already WIP to get this fixed, and also that I'm not going to experience one of those Big Lebowski "Am I the only one here that thinks this is a legitimate issue" moments.

[2018-03-26 15:24] PierreGUI commented on #22
Hey @gvaldambrini awesome work! Here is something related to this issue that could maybe help: [storyshots: Why don't we install dependencies of each framework ?](https://github.com/storybooks/storybook/tree/master/addons/storyshots#why-dont-we-install-dependencies-of-each-framework-)

TLDR: there's no easy way to achieve this, let people install the required dependencies themselves.

[2018-04-02 14:59] gvaldambrini commented on #22
The new version of the packages have been published, please upgrade your `package.json`:
https://www.npmjs.com/package/storybook-vue-router

[2018-04-02 14:59] #22 closed

[2018-04-03 14:07] ndelangen commented on #22
Awesome @gvaldambrini !

[2018-05-07 13:38] eric-burel opened #24 "Fail on hot reload"
Hi,
### Which version are you using?
1.0.1
### Are you using storybook-router with a react based project or a vue one?
React
### Please describe the problem:
I get the dreadly `You should not use <Link> outside a <Router>` on hot reload. It does work however if I manually refresh the page. So the decorator seems to be incorrectly applied.

### Please explain how to reproduce the issue or (better)

[2018-05-07 20:42] gvaldambrini commented on #24
Unfortunately I cannot reproduce the issue from your code. In my setup (and in the provided [examples](https://github.com/gvaldambrini/storybook-router/tree/master/examples/react-router)), everything works fine.
Can you please provide an example repo where I can see the issue?

[2018-05-08 07:04] eric-burel commented on #24
I'll try to repro indeed. The app is a create-react-app based app, this bug might be related to my context.

[2018-05-17 06:35] gvaldambrini commented on #24
Any news on this? Please close it if the issue is not related to this package 😄

[2018-05-21 09:42] eric-burel commented on #24
Sorry I could not repro yet, I am on a project and did not have time sorry. I must check my code to confirm whether the bug is on my side or not but for the moment it sound related either to storybook or to this precise package (otherwise my code would never work, here the bug appears only after a hot reload).

[2018-07-15 20:22] togakangaroo opened #25 "Cannot run storybook-react-examples"
Just cloned the repo and trying to run the examples

[code]

[2018-07-16 10:31] gvaldambrini commented on #25
Hi @togakangaroo, thank you for the report 😄. This project uses lerna to manage all the dependencies, and the recommended way to install the dependencies and run the examples is already documented:

https://github.com/gvaldambrini/storybook-router/tree/master/packages/react#advanced-usage-and-examples

Feel free to reopen the issue in case I'm missing something.

[2018-07-16 10:31] #25 closed

[2018-07-16 10:33] gvaldambrini commented on #24
As there isn't any progress on this I'm going to close the issue. Feel free to reopen it in case of any news

[2018-07-16 10:33] #24 closed

[2018-08-07 03:47] travi opened #26 "reach-router support"
Feature Request:

### Are you using storybook-router with a react based project or a vue one?
React ([Gatsby](https://www.gatsbyjs.org/))

### Context for the request
I've been using `storybook-router` with components that use [gatsby-link](https://www.npmjs.com/package/gatsby-link) because it previously wrapped `react-router`'s `Link` component.

However, that [switched](https://github.com/gatsby

[2018-08-12 03:11] acomito opened #27 "Is it possible to avoid clash with info addon?"
Issue:

### Which version are you using?

CNA
[code]

### Are you using storybook-router with a react based project or a vue one?

react

### Please describe the problem:

I am using the info addon to see prop information etc.

using the storybook-react decorator and I unfortunately see the router props instead of the underlying component's props:

[code]

should be something like this:

<img widt

[2018-08-13 08:05] gvaldambrini commented on #26
Hi @travi,
thank you for the suggestion.
I'll have a look but unfortunately I will not be able before September.

[2018-08-13 13:30] acomito commented on #27
No problem at all @gvaldambrini. I was just throwing it out there in case I was missing something simple. I'll report back if I solve it (or determine that it requires a PR of some sort).

[2018-08-14 02:34] travi commented on #26
not a problem. mostly wanted to get it on your radar for when it makes sense

[2018-09-12 07:50] gvaldambrini commented on #27
I'm working on this, and I have a first rough prototype that seems to work fine with the info addon. Hopefully in few days I will be able to release a new version fixing this problem. Thanks for the report 😄

[2018-09-15 18:35] gvaldambrini commented on #27
I'm sorry, but after more tests I have to say that is not possible being completely transparent to other decorators (in this case the problem is with the story source). The workaround I can offer you is to put StoryRouter **after** the info addon, and everything works as expected.

[2018-09-15 18:35] #27 closed

[2018-10-15 08:15] PeterMK85 opened #29 "Warning during install with `storybook/addons` ^4.0.0-alpha.25 [0.3.4]"
Issue:

### Which version are you using?
`storybook-router@0.3.4`

### Are you using storybook-router with a react based project or a vue one?
React

### Please describe the problem:
During install warning displayed:
`"storybook-router > @storybook/addon-actions@3.4.7" has incorrect peer dependency "@storybook/addons@^3.3.0".
`

### Please explain how to reproduce the issue or (better) provide an

[2018-10-25 07:14] gvaldambrini commented on #29
Sorry for the delay, have you tried with the package `storybook-react-router`? `storybook-router` was the old version which includes both the support for React and Vue. Please upgrade your dependency.

[2018-11-01 15:57] csantos1113 commented on #29
Same:
[code]
my package.json
[code]

[2018-11-12 16:49] arty-name commented on #29
I am seeing the same thing: storybook-react-router depends on storybook v3

[2018-11-12 16:51] arty-name commented on #29
[v3 is actually explicitly defined in the package.json](https://github.com/gvaldambrini/storybook-router/blob/f5e650794ebbb02d73c8e62c7813ae84e400637b/packages/react/package.json#L22-L23)

[2018-12-02 22:19] gvaldambrini commented on #29
The new published 1.0.2 supports storybook 4.X. Closing this

[2018-12-02 22:19] #29 closed

[2018-12-12 14:52] pr1moz opened #31 "Support for props in Vue router"
### Which version are you using?
1.0.2
### Are you using storybook-router with a react based project or a vue one?
Vue
### Please describe the problem:
Passing `props` to a component through Vue router doesn't work in Storybook.
### Please explain how to reproduce the issue or (better) provide an example to do it.
You can use the same example as in Vue router documentation for passing props - http

[2018-12-16 11:43] gvaldambrini commented on #31
Hi @pr1moz,
I'm sorry but I cannot reproduce the problem.

I expanded the router examples to pass properties to the wrapped component [here](https://github.com/gvaldambrini/storybook-router/blob/master/examples/vue-router/Navigation.js#L48) and it works as expected.
Moreover, if you have a look at the [implementation](https://github.com/gvaldambrini/storybook-router/blob/master/packages/vue/vue.js

[2019-01-13 21:44] gvaldambrini commented on #31
Hi @pr1moz, any news on this?

[2019-01-30 04:13] Jamamuuga commented on #26
Would this thread be helpful? https://spectrum.chat/reach/questions/using-reach-router-in-storybook~d6ed6f77-dad7-4c5a-8ad3-c7784a594d7b?authed=true

In the thread @mikebarkmin suggested to @theinterned to use, for inspiration, his (MIT licensed) @reach/router proxy for react-cosmos as seen at this mirror: https://github.com/openpatch/ui-core/blob/master/src/proxies/ReachRouterProxy.js

[2019-01-30 04:16] Jamamuuga commented on #26
Btw, sorry in advance if I don't notice my notification of this thread being updated... Guess I need to change the settings on a mobile app to make important GitHub notifications more obtrusive...

[2019-01-30 14:58] pr1moz commented on #31
@gvaldambrini Sorry, didn't get a notification that you responded. We ended up dropping `props` in the actual implementation and passed it through `vuex`, so we didn't need it in the storybook.

Closing.

[2019-01-30 14:58] #31 closed

[2019-02-06 07:46] chengyin commented on #1
Seems like v3 support is later removed? Is there an earlier version we could use for v3? Thank you.

[2019-02-06 07:53] gvaldambrini commented on #1
@chengyin yes, the current version of the package storybook-react-router only supports the v4. You can use the old npm package [storybook-router](https://www.npmjs.com/package/storybook-router). Try first with the last version (0.3.4) and if it doesn't work you should be able to use the 0.2.9.

[2019-03-13 18:20] jamesmoss opened #32 "Add support for Storybook 5"
Right now when installing this addon with storybook 5 you get this warning in yarn:

[code]

It seems like the addon works fine in SB5 so should be fine to bump the dependency to `^4.0.0||^5.0.0`.

[2019-03-14 08:42] gvaldambrini commented on #32
Thank you for the report, I'll have a look asap.

[2019-03-17 18:56] gvaldambrini commented on #32
Released version 1.0.3, with support for Storybook 5 😄

[2019-03-17 18:56] #32 closed

[2019-03-18 14:32] jamesmoss commented on #32
Just upgraded thanks, one thing though - do you actually need to specify `@storybook/addons` in `dependencies` and `peerDependencies` at all? `@storybook/addons-actions` includes `@storybook/addons` as a dependency, and you don't reference it directly in the code in this package also.

Right now I have to add `@storybook/addons` as a dependency for no reason to my `package.json` because you've spe

[2019-03-28 14:38] gvaldambrini commented on #32
You're right, fixed with 1.0.5. Thank you for the report.

[2019-04-07 15:47] jonknapp commented on #26
I was able to add memory source support in Reach Router and Storyboard with the following decorator:

[code]

which I then include in all stories (though you don't have to) with:

[code]

In a story that I want to add Reach Router component rendering, I add a `router` param with the initial path:

[code]

The url of your app won't update as you navigate around, but it does tie into Reach Router in

[2019-04-11 06:43] Moonhint opened #33 "Cannot read property 'name' of undefined"
Issue:

### Which version are you using? 1.0.3

### Are you using storybook-router with a react based project or a vue one? with vue

### Please describe the problem:
![Screenshot from 2019-04-11 13-36-54](https://user-images.githubusercontent.com/6668689/55935994-3279c380-5c5f-11e9-9797-61c5cac260f6.png)
After add this to my story, I found this Cannot read property 'name' of undefined error.

###

[2019-04-18 17:36] anvlkv opened #34 "Angular router support"
Feature request:

What would it take to add support for angular router?

[2019-04-18 22:49] jonknapp commented on #26
I ran into a snag having the router work properly after changing any context (ex: changing "knob" value) and the issue seemed to stem from calling `createHistory` multiple times. If I kept a reference to the first history object I could make `navigate` calls, but otherwise they would trigger my listener but do nothing in the router.

Here's my current iteration of the code that memoizes the histor

[2019-04-24 12:47] scottdickerson opened #35 "All snapshots marked invalid after adding router as global decorator"
Issue:
After adding the storybook router as a global decorator to our stories, all of our story snapshots were renamed with an extra space so our snapshots no longer matched.  The space is at the front of the story name.

### Which version are you using?
 1.0.3

### Are you using storybook-router with a react based project or a vue one?
Vue

### Please describe the problem:

### Please explain how

[2019-04-25 09:19] draftitchris opened #36 "Imported Components do not work"
Issue:

### Which version are you using?
`"storybook-react-router": "^1.0.5",`
### Are you using storybook-router with a react based project or a vue one?
`React`
### Please describe the problem:
We are importing a React component from another library that uses links and a switch.  In its basic form it looks like this:

[code]

However it seems as though StoryRouter is completely unable to underst

[2019-04-25 16:00] MalcolmDwyer opened #37 "Invariant violations when components import from 'react-router-dom'"
Issue:
Storybook-router only works when components are importing `<Route>`, `<Link>`, etc. from `react-router`, but fail when importing from `react-router-dom`.

I'm guessing this is the same problem in #36

### Which version are you using?
[code]
### Are you using storybook-router with a react based project or a vue one?
React
### Please describe the problem:
Getting invariant violation "You shou

[2019-04-25 16:02] MalcolmDwyer commented on #36
See over in #37 ... this might be caused by storybook-router having a problem with imports from 'react-router-dom'.  (You didn't show your import in your top file... but I'm guessing that's what you did, since that is what react-router's docs recommend.)

[2019-04-26 15:34] MalcolmDwyer commented on #37
Workaround... not using storybook-router...

[code]

I guess my use case is simple, so I don't need the more advanced features of storybook-router.

[2019-04-26 19:56] mechmillan commented on #37
I am seeing the same issue (same versions listed above) after upgrading react-router-dom.

I tried using `<Route>` directly from `react-router` (at `5.0.0`) but I still get the same error message as described above.

[2019-04-27 09:05] gvaldambrini commented on #37
Hi Malcolm,
thank you for the report.

Unfortunately I cannot reproduce the issue, even using your code (with a small fix in the component implementation).
Can you please check if this works for you (pay attention to use the test-route branch)?

https://github.com/gvaldambrini/react-simple-boilerplate/tree/test-route <https://github.com/gvaldambrini/react-simple-boilerplate/tree/test-route>

You c

[2019-04-29 14:07] mechmillan commented on #37
I was able to get it working using the following structure when setting up the storybook config:

[code]

I didn't need to set up a storyRouterConfig i.e `const storyRouterConfig = [
  {},
  { initialEntries: ['/foo'] },
];` per the Test route sample linked above but it is not working if I am using `addDecorator(StoryRouter())` directly.

[2019-05-03 18:59] jackkoppa commented on #33
Seeing the same issue; initial appearances are that it's the interaction of this addon with `storybook-addon-vue-info`

Here's my relevant `package.json`:

[code]

Most importantly, in my component, when I remove the use of `vue-info`, the component loads. When I have both `vue-info` and `vue-router` addons, I see the same failure message as @Moonhint. When I use only `vue-info` and not `vue-route

[2019-05-07 15:20] mdespuits opened #38 "Story Source displaying `StoryRouter` source, not real story source"
Issue:

## Which version are you using?

* `storybook-react-router`: `^5.0.2`
* `@storybook/react`: `^5.0.6`

## Are you using storybook-router with a react based project or a vue one?

React

## Please describe the problem:

It's working, but once I add the `StoryRouter()` decorator, the Story Source only displays the StoryRouter's component definition:

[code]

## Please explain how to reproduce

[2019-05-08 19:45] gvaldambrini commented on #38
As far as I know this is a common problem with every HOC, and a solution does not exists. Maybe using React Hooks can solve the problem, but I'm not sure that would be a good idea in the foreseeable future.

[2019-05-08 19:48] gvaldambrini commented on #37
@mechmillan thank you for your reply and sorry for the delay. Does your post means that you tried with the repo I'd suggested and it didn't work for you unless you wrap the `Storyrouter` call into an arrow function?

[2019-05-09 09:22] ThePeach commented on #33
experiencing exactly the same problem reported by @jackkoppa . At the moment I'm resigned to avoid using the info addon where I need the router, but it's definitely something related to the interaction with each one.

[2019-05-09 10:01] PhilippeLaval commented on #37
Same issue for me. @MalcolmDwyer solution worked perfectly.

[2019-05-14 20:12] mdespuits commented on #38
From what I understand, there is a way if your correctly pass refs, but using the decorator globally instead of on a per-story basis seemed to resolve the problem for now.

[2019-05-14 20:12] #38 closed

[2019-05-15 19:06] jackkoppa commented on #33
Hi @ThePeach, @Moonhint - I thought I responded earlier here.

I have a decent solution, after some experimenting: move `storybook-vue-router` to be global, loaded **after** `storybook-addon-vue-info`. It will be available on all stories now, and you won't be able to setup real routes to test dummy components with, since that has to happen in each story (at least I haven't discovered how).

But, i

[2019-05-15 20:26] gvaldambrini commented on #37
Can someone please share an example of a project that has this problem? I cannot reproduce the issue in any way. Thanks!

[2019-05-15 20:28] gvaldambrini commented on #34
I'd like, but I don't have the time atm. Of course any contribution (or even a hint how to start) will be appreciated 😄

[2019-05-31 01:48] wan54 opened #39 "Query string not captured"
Issue:

### Which version are you using?
1.0.5

### Are you using storybook-router with a react based project or a vue one?
React

### Please describe the problem:
Setup Link with query string `<Link to={/page/1?status=bla>Bla</Link>`. `status` is not captured in actions logger.

### Please explain how to reproduce the issue or (better) provide an example to do it.
Setup a Link with query string i

[2019-06-03 11:10] ThePeach commented on #33
@jackkoppa thanks for the clarification! loading the router _after_ info works, odd behaviour perhaps but this seems to fix it and make them work together.

🙇 🎉 👍

[2019-06-12 14:26] bodograumann commented on #39
I can confirm this in the vue version as well.

When I call a route with parameters, they will not be shown in the actions panel. E.g.
[code]
would only show `PUSH: (1) ["name: my-route-name"]` when clicked.

[2019-06-20 20:21] manishparanjape commented on #37
Getting Same error (Please See below)
`Invariant failed: You should not use <Link> outside a <Router>
Error: Invariant failed: You should not use <Link> outside a <Router>
    at invariant (http://localhost:6006/vendors~main.be47fb506b0b1d887b23.bundle.js:94405:11)
    at http://localhost:6006/vendors~main.be47fb506b0b1d887b23.bundle.js:89025:88
    at updateContextConsumer (http://localhost:6006/

[2019-08-10 03:02] noinkling opened #41 "Unmet peer dependency when using react-router-dom"
The standard way to use React Router is to install `react-router-dom` (or `react-router-native`) and not worry about manually adding the base package `react-router`, since all it's exports are available on the former. However with this setup I get a peer dependency warning from yarn when installing/updating packages which is pretty annoying:

[code]

### Which version are you using?
- 1.0.5
- reac

[2019-08-13 07:06] dani2112 commented on #37
Could this be related to changes in react-router when upgrading to v5.0.1?
I got the same error but when following advice to re-export react-router-dom from my library for the use in Storybook it works. See also [this issue](https://github.com/ReactTraining/react-router/issues/6769) and [this issue](https://github.com/ReactTraining/react-router/issues/6789)

[2019-09-02 10:31] ashleybartlett opened #42 "Parser error when loading latest 1.0.6 version"
Issue:

Did a bulk yarn upgrade, and upgraded storybook-react-router to 1.0.6 from 1.0.5.

When running the storybook, I was showen the following error when running as before.
[code]

Installed 1.0.5 again, and storybook loaded as expected.

I am loading the router in my global .storybook/config.js file:
[code]

I'm unsure what part of my setup might be causing this. I am overidding the default co

[2019-09-02 11:01] sPaCeMoNk3yIam commented on #42
I can confirm, same issue here.

[2019-09-02 12:30] dkhuntrods commented on #42
I can confirm the same error, with a fresh storybook setup using Typescript. Downgrading to 1.0.5 resolved the issue.

[2019-09-02 21:53] #42 closed

[2019-09-10 09:56] evangeloszotos opened #43 "Prop "story" marked as required - warning"
Issue:

### Which version are you using?
1.0.7
### Are you using storybook-router with a react based project or a vue one?
react
### Please describe the problem:
A warning is displayed that the component StoryRouter needs the story prop. Although the example seem to work fine. I had look inside the code and indeed, the story property is marked as required, but it is not used in the StoryRouter com

[2019-09-18 13:11] bbenezech commented on #43
For our Google overlord:

[code]

[2019-09-30 14:56] CoreyAR commented on #43
Looks like this issue is resolved in PR #44 https://github.com/gvaldambrini/storybook-router/pull/44

The PR removes the `story` prop which looks correct to me. When `StoryRouter` is rendered, the `story` is rendered as a child. The `children` prop is still included on `StoryRouter`. It never takes a `story` prop.

[2019-09-30 15:03] gvaldambrini commented on #43
Yes, sorry for the delay. This is a regression introduced with #40. I'll try to publish a new version this week (hopefully later).

[2019-09-30 20:42] #43 closed

[2019-10-18 02:30] dilab opened #45 "<Redirect/> Component"
Issue:

### Which version are you using?
+ react@16.10.2
+ react-router@5.1.2

### Please describe the problem:

So I am using `<Redirect/>` component in of our components, and we want to test out if the redirection works correctly in Storybook.

Is this even possible using storybook-router?

### Please explain how to reproduce the issue or (better) provide an example to do it.

Here is our main a

[2019-10-31 11:43] Bersam opened #46 "Problem with using useRouteMatch in storybook"
Issue:

### Which version are you using?
"storybook-react-router": "^1.0.8",

### Are you using storybook-router with a react based project or a vue one?
react

### Please describe the problem:
It shows the following error when I use `useRouteMatch` hook:
[code]
Couldn't get unoptimized version because of this issue on storybook, https://github.com/storybookjs/storybook/issues/8062

### Please exp

[2019-11-07 14:58] karl-knuttel opened #47 "Typescript support?"
Ignore.

[2019-11-07 16:16] #47 closed, assigned to nobody

[2020-01-15 13:11] Zelig880 opened #48 "decorator not working when using Component Story Format (CSF)"
Issue:

### Which version are you using?
1.0.7

### Are you using storybook-router with a react based project or a vue one?
Vue

### Please describe the problem:
I have tried to set up the above plugin with the new CSF syntax, and after debugging, i noticed that the plugin is initialised, but not triggered.

Translating to a storyOf syntax works fine.

Running the below story will trigger an error

[2020-01-19 17:25] sharvit commented on #48
Same problem when using react

[2020-01-23 14:43] ndelangen commented on #48
[code]

You're placing the decorators property in the wrong export I think.

[2020-02-16 18:02] youphenrique commented on #48
You should to pass the story as an argument to the return function of the StoryRouter:

[code]

[2020-02-25 11:41] rdunk commented on #48
`decorators: [StoryRouter()]` did it for me.

[2020-02-25 16:59] rdhainaut opened #49 "Typescript declaration file (.d.ts)"
Issue:

The declaration file is missing to work properly with typescript.  (= typescript support ?)

### Which version are you using?
v1.0.7

### Are you using storybook-router with a react based project or a vue one?
vue

### Please describe the problem:
I have the following error on serve:

Could not find a declaration file for module 'storybook-vue-router'. 'd:/path/node_modules/storybook-vue-r

[2020-02-28 16:39] maxie7 commented on #37
I have
[code]
then in import
`import { BrowserRouter as Router, Switch, Route } from 'react-router-dom';`

and everything works well, BUT in tests (I use Jest of CreateReactApp) a have this error
`  Invariant failed: You should not use <Link> outside a <Router>`

Is this because of react-test-renderer (its version)

The problem is still not resolved

[2020-03-01 11:14] maxie7 commented on #37
the problem is solved. So, in test file:
1)  in imports ...
`import { BrowserRouter as Router } from 'react-router-dom';`
2) in describe...
[code]

[2020-03-17 17:58] boatcoder opened #50 "yarn storybook-react-examples does not work out of the box"
In order to run the current examples we have to also run `yarn add -W storybook-react-router`
I do have lerna installed, unlike #25

### Which version are you using?
master as of 17 March 2020

### Are you using storybook-router with a react based project or a vue one?
React examples

### Please describe the problem:
Documentation does **not** match what you actually need to run the examples.  Not

[2020-04-14 14:06] mszkb commented on #48
Full example with Knobs:

[code]

[2020-05-10 22:08] jeremytenjo opened #53 "React Router 6 Support"
Issue:

Renders blank when using `  "react-router-dom": "^6.0.0-alpha.4",`

[2020-07-03 08:45] Finrod927 commented on #49
You can create a `storybook-vue-router.d.ts` file with this declaration:

[code]

I'm not sure it's 100% correct, but it will fix the "missing declaration file" error

[2020-07-09 17:22] fiuzagr commented on #36
In my case, `react-router` imported by `storybook-react-router` is different of `react-router` imported by my own package.

The solution is create an alias inside babel config to resolve `react-router*` packages:

[code]

And use this babel config in Webpack loader (configured inside `.storybook/main.js` file):

[code]

[2020-07-22 15:45] sgioia9 commented on #53
would love this

[2020-07-29 00:07] Pyrolistical commented on #48
for those using `preview.js` this works

[code]

[2020-08-17 00:03] JoshRobertson opened #56 "Change peer dependency from `react-router` to `react-router-dom`"
This plugin should use `react-router-dom` instead of `react-router`.

[2020-08-19 13:42] mcv opened #57 "Cannot read property 'resolve' of undefined with vue-router"
Issue:

### Which version are you using?
    "storybook-vue-router": "^1.0.7",
    "@storybook/vue": "^5.3.18",
    "vue": "^2.6.11",
    "vue-router": "^3.1.5"

### Are you using storybook-router with a react based project or a vue one?
Vue
I'm building a stand-alone component library, but the components should be able to handle vue-router links

### Please describe the problem:
On the storybook

[2020-08-31 09:59] edbzn commented on #57
I run into the same issue, the documentation is not clear about how to declare the router. How to fix this?

[2020-09-01 06:14] harshlele opened #58 "How do you use this package with the new args based syntax?"
Issue: All the examples show the old syntax. How do you use this package with the new args based syntax?

### Which version are you using?
1.0.7
### Are you using storybook-router with a react based project or a vue one?
vue
### Please describe the problem:
Most of the examples show the old syntax for storybook. I tried to use the args based syntax, but am getting lots of errors.

This is what i t

[2020-09-01 07:02] harshlele commented on #58
nvm, i was using it wrong.

[2020-09-01 07:02] #58 closed, assigned to nobody

[2020-12-11 19:21] kinoli commented on #48
The preview.js addDecorator handling should be added to the Readme file. I had to hunt for this solution.

[2021-01-18 01:46] john-craft commented on #48
Building on @mszkb's example, I had to add Storybook Addon Actions to get it working. Also, I am not sure that you need to explicitly add the `withKnobs` decorator (although, I already had `withKnobs` defined in `.storybook/main.js). Below is what worked for me.

1. Install [Storybook Addon Actions](https://www.npmjs.com/package/@storybook/addon-actions) and then add it to `.storybook/main.js` lik

[2021-05-25 05:59] ibarapascal opened #72 "vue-router v4 support"
Issue:

It seems currently not supporting vue-router v4

### Which version are you using?

[code]

[code]

### Are you using storybook-router with a react based project or a vue one?

Yes

### Please describe the problem:

<img width="889" alt="Screen Shot 2021-05-25 at 14 56 35" src="https://user-images.githubusercontent.com/30466424/119446462-72ca2c00-bd69-11eb-9082-255fb93d589b.png">

### Pleas

[2021-06-01 04:35] WANZARGEN commented on #57
The same issue here..

[2021-06-25 11:39] anil-hulkapps commented on #48
Thank you @john-craft ..working perfectly

[2021-07-21 20:17] Je12emy opened #74 "Providing route params and query params to components"
Issue:

### Which version are you using?
1.0.8
### Are you using storybook-router with a React based project or a Vue one?
React based project
### Please describe the problem:

I would like to set a route for my component, which uses a route parameter for fetching data (which is intercepted and a response mocked using [msw-storybook-addon](https://github.com/mswjs/msw-storybook-addon))

### Please

[2021-08-28 11:50] NickMcBurney commented on #72
@ibarapascal I had this same issue and have created a new package for supporting Vue 3 / Vue Router 4.

Take a look here: https://github.com/NickMcBurney/storybook-vue3-router

I've tested with my components and it seems to work as expected, but its very new release so let me know if you have issues.

[2021-11-05 16:40] AWatkinsCCT commented on #53
With 6.0.0 I get:

`A <Route> is only ever to be used as the child of <Routes> element, never rendered directly. Please wrap your <Route> in a <Routes>.`

[2021-11-05 16:40] FTWinston commented on #53
With 6.0.0 I get:

`A <Route> is only ever to be used as the child of <Routes> element, never rendered directly. Please wrap your <Route> in a <Routes>.`

[2021-11-06 05:50] madeleineostoja commented on #53
Came across this myself but with React Router 6 this package is no longer needed, you can just use the new `MemoryRouter` in a decorator:

`preview.js`
[code]

[2021-11-07 15:05] FTWinston commented on #53
Oh that's simpler than what I came up with. Thanks!

[2022-02-03 03:33] AndreasBBS commented on #53
Just in case someone comes looking to keep the Action trigger on location change I added this Wrapper to mine and is working pretty well:

[code]

NOTE: It was also working with the MemoryRouter but you get a default action trigger on story render for the path "/", the trigger I'm avoiding with my if condition.

[2022-08-08 17:58] ColmBhandal commented on #53
@AndreasBBS Very cool, thank you! I've added a couple of types and created a Typescript version [here](https://gist.github.com/ColmBhandal/8d31fe2d1076f00e606c7c560319c957).

[2022-08-08 18:00] #53 closed, assigned to nobody

[2022-09-21 16:13] thareshjose commented on #46
Any updates on this issue?